<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About |Lain</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'projects/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <div class="container px-lg-5"> -->
                <a class="navbar-brand" href="#!">About Lainey</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about'%}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'projectIndex'%}">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog index'%}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact'%}">Contact</a></li>

                        
                        <body style = "background: url('../static/assets/img/Programmer-Wallpaper.jpg'); background-size: cover;" >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->

        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <font color=#fff>
                        <h1 class="mt-5"><font color=#fff>Summary</h1>

                        <p>My name is Lainey Tubbs and I am a backend developer. I am currently attending Austin Community College and I am studying Computer Science. My main interest is Open Source Software and Linux. I had first been interested in open source software because it gave me an opportunity to observe the code and learn how different programs operate. Linux is the only OS that I use on my PCs and servers. My Grandpa had gotten me interested in Linux when I was younger and I have been using it for about 7 years now. This along with self study, and continuing my education has shaped me into a the programmer that I am today. In the future, I am hoping to become a backend developer.</p>
                    </div>
                </div>
            </div>
        </section>